Repository podman-desktop/podman-desktop, pull requests merged in 2023-09, with the labels that each got.

#3964 docs: added yarn website:buildandserve script
  package.json
Labels: area/documentation 📖

#3990 docs: reworked Lima onboarding
  website/docs/onboarding/containers/creating-a-lima-instance-with-podman-desktop.md
  website/docs/onboarding/containers/index.md
  website/docs/onboarding/kubernetes/creating-a-lima-instance-with-podman-desktop.md
  website/docs/onboarding/kubernetes/index.md
Labels: kind/bug 🐞

#3969 chore(ui,tests): include ARIA attributes into Dashboard page
  packages/renderer/src/lib/dashboard/ProviderConfigured.svelte
  packages/renderer/src/lib/dashboard/ProviderConfiguring.svelte
  packages/renderer/src/lib/dashboard/ProviderInstalled.svelte
  packages/renderer/src/lib/dashboard/ProviderNotInstalled.svelte
  packages/renderer/src/lib/dashboard/ProviderReady.svelte
  packages/renderer/src/lib/dashboard/ProviderStarting.svelte
  packages/renderer/src/lib/dashboard/ProviderStopped.svelte
  packages/renderer/src/lib/featured/FeaturedExtensions.svelte
  tests/src/model/pages/dashboard-page.ts
  tests/src/model/pages/settings-extensions-page.ts
  tests/src/sandbox-installation-smoke.spec.ts
Labels: area/ui, area/tests 🚦
