Repository podman-desktop/podman-desktop, pull requests merged in 2023-05, with the labels that each got.

#2223 feat: Updating palette colors for nav + main
  packages/renderer/src/App.svelte
  packages/renderer/src/AppNavigation.svelte
  packages/renderer/src/lib/ContainerList.svelte
  packages/renderer/src/lib/ImagesList.svelte
  packages/renderer/src/lib/dashboard/DashboardPage.svelte
  packages/renderer/src/lib/pod/PodsList.svelte
  packages/renderer/src/lib/volume/VolumesList.svelte
  packages/renderer/src/override.css
Labels: area/ui

#2280 fix: restoring padding in settings screen headers
  packages/renderer/src/lib/preferences/SettingsPage.svelte
Labels: area/ui

#2301 chore: added an icon for all docs referencing to the **Settings** menu
  website/blog/2023-02-15-release-0.12.md
  website/blog/2023-04-14-release-0.14.md
  website/docs/extensions/install/index.md
  website/docs/kubernetes/deploying-a-container-to-kubernetes.md
  website/docs/kubernetes/kind/creating-a-kind-cluster.md
  website/docs/kubernetes/kind/deleting-your-kind-cluster.md
  website/docs/kubernetes/kind/installing-kind.md
  website/docs/kubernetes/kind/restarting-your-kind-cluster.md
Labels: area/documentation

#2307 chore: enabled the Prettier formatter on the website Markdown files
  package.json
  website/README.md
  website/blog/2022-11-17-develop-podman-using-codespaces.md
  website/blog/2022-12-01-release-0.10-blog.md
  website/blog/2023-01-18-release-0.11.md
  website/blog/2023-03-24-5-things-to-know-for-a-docker-user.md
  website/blog/2023-03-29-release-0.13.md
  website/docs/Installation/index.md
  website/docs/Installation/linux-install/index.md
  website/docs/Installation/linux-install/installing-podman-desktop-from-a-compressed-tar-file.md
  website/docs/Installation/linux-install/installing-podman-desktop-from-a-flatpak-bundle.md
  website/docs/Installation/macos-install.md
  website/docs/Installation/windows-install/index.md
  website/docs/Installation/windows-install/installing-podman-desktop-and-podman-in-a-restricted-environment.md
  website/docs/Installation/windows-install/installing-podman-desktop-silently-with-the-windows-installer.md
  website/docs/Installation/windows-install/installing-podman-desktop-with-chocolatey.md
  website/docs/Installation/windows-install/installing-podman-desktop-with-scoop.md
  website/docs/Installation/windows-install/installing-podman-desktop-with-winget.md
  website/docs/Installation/windows-install/installing-podman-with-openshift-local.md
  website/docs/Installation/windows-install/installing-podman-with-podman-desktop.md
  website/docs/compose/compose-spec.md
  website/docs/compose/podman-compose.md
  website/docs/extensions/index.md
  website/docs/extensions/publish/index.md
  website/docs/extensions/write/index.md
  website/docs/getting-started/2022-08-05-getting-started.md
  website/docs/getting-started/building-an-image.md
  website/docs/getting-started/creating-a-pod.md
  website/docs/kubernetes/deploying-a-pod-to-kubernetes.md
  website/docs/kubernetes/index.md
  website/docs/kubernetes/kind/configuring-podman-for-kind-on-windows.md
  website/docs/kubernetes/kind/pushing-an-image-to-kind.md
  website/docs/kubernetes/kind/working-with-your-local-kind-cluster.md
  website/docs/migrating-from-docker/emulating-docker-cli-with-podman.md
  website/docs/migrating-from-docker/importing-saved-containers.md
  website/docs/migrating-from-docker/index.md
  website/docs/migrating-from-docker/using-podman-mac-helper.md
  website/docs/migrating-from-docker/using-the-docker_host-environment-variable.md
  website/docs/migrating-from-docker/verifying-your-tools-are-using-podman.md
  website/docs/troubleshooting.md
  website/src/theme/CodeBlock/CopyButton/index.js
Labels: area/documentation

#2299 chore: added Markdownlint configuration
  .markdownlint.yaml
  package.json
  website/README.md
  website/blog/2022-11-17-develop-podman-using-codespaces.md
  website/blog/2022-12-01-release-0.10-blog.md
  website/blog/2023-01-18-release-0.11.md
  website/blog/2023-02-15-release-0.12.md
  website/docs/Installation/macos-install.md
  website/docs/Installation/windows-install/installing-podman-with-openshift-local.md
  website/docs/kubernetes/deploying-a-container-to-kubernetes.md
  website/docs/kubernetes/deploying-a-pod-to-kubernetes.md
  website/docs/kubernetes/kind/installing-kind.md
  website/docs/migrating-from-docker/emulating-docker-cli-with-podman.md
  website/docs/migrating-from-docker/using-podman-mac-helper.md
  website/docs/troubleshooting.md
  website/package.json
  yarn.lock
Labels: area/documentation

#2162 blog: added _Setting up and running a Kubernetes cluster locally_
  .vale.ini
  .vale/styles/PodmanDesktop/ProductNames.yml
  website/blog/2023-04-19-running-a-local-kubernetes-cluster-with-podman-desktop.md
  website/blog/authors.yml
  website/blog/img/running-a-local-kubernetes-cluster-with-podman-desktop/create-a-kind-cluster.png
  website/blog/img/running-a-local-kubernetes-cluster-with-podman-desktop/deploy-generated-follower-pod-to-kubernetes.png
  website/blog/img/running-a-local-kubernetes-cluster-with-podman-desktop/deploy-generated-frontend-pod-to-kubernetes.png
  website/blog/img/running-a-local-kubernetes-cluster-with-podman-desktop/deploy-generated-leader-pod-to-kubernetes.png
  website/blog/img/running-a-local-kubernetes-cluster-with-podman-desktop/follower-pods-are-running.png
  website/blog/img/running-a-local-kubernetes-cluster-with-podman-desktop/frontend-pod-is-running.png
  website/blog/img/running-a-local-kubernetes-cluster-with-podman-desktop/kind-cluster-context-in-the-tray.png
  website/blog/img/running-a-local-kubernetes-cluster-with-podman-desktop/kind-cluster-is-running.png
  website/blog/img/running-a-local-kubernetes-cluster-with-podman-desktop/leader-pod-is-running.png
  website/blog/img/running-a-local-kubernetes-cluster-with-podman-desktop/podman-is-running.png
  website/static/img/kind-icon.png
  website/static/img/podman-icon.png
Labels: area/extension/kind, area/blog

#2302 docs: added _Building an image and testing it in Kind_
  website/docs/kubernetes/kind/building-an-image-and-testing-it-in-kind.md
Labels: area/documentation, theme/kubernetes, area/kubernetes

#2303 docs: added _Viewing and selecting the current Kubernetes context_
  website/docs/kubernetes/img/tray-icon-on-macos.png
  website/docs/kubernetes/img/tray-icon-on-windows-10.png
  website/docs/kubernetes/img/tray-kubernetes-on-linux.png
  website/docs/kubernetes/img/tray-kubernetes-on-macos.png
  website/docs/kubernetes/img/tray-kubernetes-on-windows-10.png
  website/docs/kubernetes/img/tray-main-menu-on-linux.png
  website/docs/kubernetes/img/tray-main-menu-on-macos.png
  website/docs/kubernetes/img/tray-main-menu-on-windows-10.png
  website/docs/kubernetes/viewing-and-selecting-current-kubernete-context.md
Labels: area/documentation, theme/kubernetes, area/kubernetes

#2466 docs: Added _Creating a Podman machine with Podman Desktop_
  website/docs/Installation/creating-a-podman-machine-with-podman-desktop.md
  website/docs/Installation/img/create-a-podman-machine.png
Labels: area/documentation
