Repository podman-desktop/podman-desktop, pull requests merged in 2023-01, with the labels that each got.

#1107 chore: added Vale configuration to validate style guide consistency
  .gitignore
  .vale.ini
  .vale/fixtures/PodmanDesktop/ProductNames/.vale.ini
  .vale/fixtures/PodmanDesktop/ProductNames/testinvalid.md
  .vale/fixtures/PodmanDesktop/ProductNames/testvalid.md
  .vale/styles/PodmanDesktop/ProductNames.yml
Labels: area/documentation

#1109 docs: fix Vale errors on Installation index
  website/docs/Installation/index.md
Labels: area/documentation

#1111 docs: fix Vale errors on Installation Windows
  website/docs/Installation/windows-install.md
Labels: area/documentation

#1112 docs: fix Vale errors on Installation Linux
  website/docs/Installation/linux-install.md
Labels: area/documentation

#1113 docs: fix Vale errors on Getting Started
  website/docs/getting-started/2022-08-05-getting-started.md
Labels: area/documentation

#1114 docs: fix Vale errors on Intro
  website/docs/intro.md
Labels: area/documentation

#1110 docs: fix Vale errors on Installation macOS
  website/docs/Installation/macos-install.md
Labels: area/documentation

#1116 docs: fix Vale errors on Troubleshooting
  website/docs/troubleshooting.md
Labels: area/documentation

#1115 docs: fix Vale errors on Podman Compose
  website/docs/podman-compose.md
Labels: area/documentation

#1118 docs: refreshing installing on Linux
  website/docs/Installation/linux-install.md
  website/docusaurus.config.js
Labels: area/documentation

#1126 fix: vale error on tarball
  website/docs/Installation/linux-install.md
Labels: area/documentation

#1125 chore: format:fix should apply on the same files than format:check
  package.json
Labels: area/documentation, area/website, area/ci

#1130 docs: identify the shell sessions in Installing on Linux
  website/docs/Installation/linux-install.md
Labels: area/documentation

#1129 docs: better identify podman-mac-helper verification steps
  website/docs/getting-started/using-podman-mac-helper-to-migrate-from-docker-to-podman-on-macos.md
Labels: area/documentation

#1135 docs: Using the `DOCKER_HOST` environment variable
  website/docs/getting-started/using-the-docker_host-environment-variable.md
Labels: area/documentation

#1144 docs: Importing saved containers
  website/docs/getting-started/importing-saved-containers.md
Labels: area/documentation

#1143 docs: Emulating Docker CLI using Podman to migrate from Docker to Podman
  website/docs/getting-started/emulating-docker-cli-with-podman.md
Labels: area/documentation

#1146 docs: Migrating from Docker section
  website/docs/migrating-from-docker/emulating-docker-cli-with-podman.md
  website/docs/migrating-from-docker/importing-saved-containers.md
  website/docs/migrating-from-docker/index.md
  website/docs/migrating-from-docker/using-podman-mac-helper.md
  website/docs/migrating-from-docker/using-the-docker_host-environment-variable.md
  website/docs/podman-compose.md
  website/docs/troubleshooting.md
Labels: area/documentation

#1152 docs: Verifying that your tools are using Podman
  website/docs/migrating-from-docker/index.md
  website/docs/migrating-from-docker/verifying-your-tools-are-using-podman.md
Labels: area/documentation

#1162 docs: Introducing tabs for operatings systems and container engines
  website/docs/migrating-from-docker/importing-saved-containers.md
  website/docs/migrating-from-docker/using-the-docker_host-environment-variable.md
  website/docs/migrating-from-docker/verifying-your-tools-are-using-podman.md
Labels: area/documentation

#1165 website: In the landing page, update plugins and container engines lists
  website/src/pages/index.tsx
Labels: area/documentation, area/website

#1288 docs: refreshed windows install
  website/docs/Installation/windows-install.md
  website/docs/Installation/windows-install/index.md
  website/docs/Installation/windows-install/installing-podman-desktop-silently-with-the-windows-installer.md
  website/docs/Installation/windows-install/installing-podman-desktop-with-chocolatey.md
  website/docs/Installation/windows-install/installing-podman-desktop-with-scoop.md
  website/docs/Installation/windows-install/installing-podman-desktop-with-winget.md
  website/docs/Installation/windows-install/installing-podman-with-openshift-local.md
  website/docs/Installation/windows-install/installing-podman-with-podman-desktop.md
Labels: area/install, area/documentation, theme/install, os/windows

#1293 fix: docs metadata
  website/docs/Installation/index.md
Labels: area/documentation
