Repository podman-desktop/podman-desktop, pull requests merged in 2023-07, with the labels that each got.

#3090 docs: view and select your current Kubernetes context in the status bar
  website/docs/kubernetes/viewing-and-selecting-current-kubernete-context-in-the-status-bar.md
Labels: area/documentation 📖

#3194 docs: split troubleshooting page without modifying content
  website/docs/troubleshooting.md
  website/docs/troubleshooting/index.md
  website/docs/troubleshooting/troubleshooting-openshift-local.md
  website/docs/troubleshooting/troubleshooting-podman-on-linux.md
  website/docs/troubleshooting/troubleshooting-podman-on-macos.md
  website/docs/troubleshooting/troubleshooting-podman-on-windows.md
  website/docs/troubleshooting/troubleshooting-podman.md
Labels: area/documentation 📖

#3208 docs: refactored _Troubleshooting OpenShift Local_
  website/docs/troubleshooting/troubleshooting-openshift-local.md
Labels: area/documentation 📖

#3209 docs: added links to other sections in the _Troubleshooting_ landing …
  website/docs/troubleshooting/index.md
Labels: area/documentation 📖

#3206 docs: refactored _Troubleshooting Podman on Windows_
  website/docs/troubleshooting/troubleshooting-podman-on-windows.md
Labels: area/documentation 📖, area/documentation/added-to-troubleshooting

#3078 feat: add environment-related utility API
  packages/extension-api/src/extension-api.d.ts
  packages/main/src/plugin/extension-loader.ts
  packages/main/src/plugin/util/exec.spec.ts
  packages/main/src/plugin/util/exec.ts
Labels: area/extensions 🧩, kind/technical-debt 🔧

#3205 docs: added _Podman Desktop does not manage native Podman_
  website/docs/troubleshooting/troubleshooting-podman-on-linux.md
Labels: area/documentation 📖, area/documentation/added-to-troubleshooting
