Repository podman-desktop/podman-desktop, pull requests merged in 2024-09, with the labels that each got.

#8674 chore(tests): Registry tests updated
  tests/playwright/src/model/pages/registries-page.ts
  tests/playwright/src/specs/registry.spec.ts
Labels: area/registries, area/tests 🚦

#8809 fix(ci): run and build right e2e tests artifacts on e2e-test-main
  .github/workflows/e2e-main.yaml
  package.json
  tests/playwright/src/specs/installation/update-install.spec.ts
Labels: area/update

#8886 fix: remove context attribute from FileSystemLayerView
  packages/renderer/src/lib/image/FilesystemLayerView.svelte
Labels: sprint/unplanned
