Repository podman-desktop/podman-desktop, pull requests merged in 2024-01, with the labels that each got.

#5421 fix: using window.showMessageBox instead of custom modal
  packages/renderer/src/lib/image/ImageActions.spec.ts
  packages/renderer/src/lib/image/ImageActions.svelte
Labels: area/ui

#5423 chore(tests): adds build image test to image smoke suite
  tests/resources/test-containerfile
  tests/src/image-smoke.spec.ts
  tests/src/model/pages/build-image-page.ts
  tests/src/model/pages/image-details-page.ts
  tests/src/model/pages/images-page.ts
Labels: area/tests 🚦

#5458 chore(tests): play kubernetes yaml e2e test
  tests/resources/primary-podify-demo.yaml
  tests/src/model/pages/play-kube-yaml-page.ts
  tests/src/model/pages/pods-page.ts
  tests/src/yaml-smoke.spec.ts
Labels: area/tests 🚦

#5520 chore(tests): fix for e2e test that fails on windows machines
  tests/src/yaml-smoke.spec.ts
Labels: kind/bug 🐞, area/tests 🚦

#5519 chore(tests): added tracing functionality from pw
  tests/src/container-smoke.spec.ts
  tests/src/image-smoke.spec.ts
  tests/src/pod-smoke.spec.ts
  tests/src/podman-extension-smoke.spec.ts
  tests/src/runner/podman-desktop-runner.ts
  tests/src/welcome-page-smoke.spec.ts
  tests/src/yaml-smoke.spec.ts
Labels: kind/enhancement ✨, area/tests 🚦

#5524 chore(tests): ensure test files are run in order
  package.json
Labels: kind/bug 🐞, area/tests 🚦

#5424 feat: improve Authentication Providers page
  packages/renderer/src/lib/preferences/PreferencesAuthenticationProvidersRendering.svelte
Labels: area/ui, area/authentication 🔑

#5533 feat: adding BuildOption
  packages/extension-api/src/extension-api.d.ts
  packages/main/src/plugin/container-registry.spec.ts
  packages/main/src/plugin/container-registry.ts
  packages/main/src/plugin/extension-loader.ts
  packages/main/src/plugin/index.ts
Labels: area/extensions 🧩

#5558 feat: adding navigation api
  packages/extension-api/src/extension-api.d.ts
  packages/main/src/plugin/authentication.spec.ts
  packages/main/src/plugin/cli-tool-registry.spec.ts
  packages/main/src/plugin/container-registry.ts
  packages/main/src/plugin/extension-loader.spec.ts
  packages/main/src/plugin/extension-loader.ts
  packages/main/src/plugin/image-checker.spec.ts
  packages/main/src/plugin/index.ts
  packages/main/src/plugin/navigation/navigation-manager.ts
  packages/main/src/plugin/navigation/navigation-page.ts
  packages/main/src/plugin/navigation/navigation-request.ts
  packages/renderer/src/App.svelte
  packages/renderer/src/Route.ts
Labels: area/extensions 🧩

#5323 chore(tests): Registries e2e tests
  .github/workflows/e2e-main.yaml
  .github/workflows/pr-check.yaml
  tests/src/model/pages/registries-page.ts
  tests/src/registry-image.spec.ts
  tests/src/registry.spec.ts
  tests/src/setupFiles/setup-registry.ts
Labels: area/registries, area/tests 🚦

#5572 chore(tests): add prune containers e2e test
  package.json
  tests/src/container-smoke.spec.ts
  tests/src/image-smoke.spec.ts
  tests/src/model/pages/container-details-page.ts
  tests/src/model/pages/containers-page.ts
  tests/src/model/pages/image-details-page.ts
  tests/src/model/pages/image-edit-page.ts
  tests/src/model/pages/images-page.ts
  tests/src/model/pages/main-page.ts
  tests/src/model/pages/pods-details-page.ts
  tests/src/model/pages/pods-page.ts
  tests/src/model/pages/run-image-page.ts
  tests/src/pod-smoke.spec.ts
  tests/src/runner/podman-desktop-runner.ts
  tests/src/utility/operations.ts
  tests/src/yaml-smoke.spec.ts
Labels: kind/enhancement ✨, area/tests 🚦
