Repository podman-desktop/podman-desktop, pull requests merged in 2024-04, with the labels that each got.

#6742 initial version of volume page e2e tests
  tests/playwright/src/model/pages/create-volume-page.ts
  tests/playwright/src/model/pages/volume-details-page.ts
  tests/playwright/src/model/pages/volumes-page.ts
  tests/playwright/src/model/workbench/navigation.ts
  tests/playwright/src/specs/volume-smoke.spec.ts
Labels: kind/enhancement ✨, area/tests 🚦

#6755 chore: default machine CPU to Cores/2
  extensions/podman/package.json
  packages/renderer/src/lib/preferences/PreferencesConnectionCreationOrEditRendering.svelte
  packages/renderer/src/lib/preferences/Util.spec.ts
  packages/renderer/src/lib/preferences/Util.ts
Labels: kind/enhancement ✨, area/extension/podman 🦭

#6794 Podman machine dashboard debug
  tests/playwright/src/specs/podman-machine-dashboard-onboarding.spec.ts
  tests/playwright/src/utility/operations.ts
Labels: kind/bug 🐞, area/tests 🚦

#6799 chore(test): update label used
  tests/playwright/src/specs/extension-installation.spec.ts
Labels: kind/bug 🐞, area/tests 🚦

#6826 chore(test): add aria labels for rows
  packages/renderer/src/lib/container/ContainerList.svelte
  packages/renderer/src/lib/pod/PodsList.spec.ts
  packages/renderer/src/lib/table/Table.svelte
Labels: kind/enhancement ✨, area/ui, area/tests 🚦

#6820 chore: use same logic to restart the kube cluster as in resource list
  packages/renderer/src/lib/preferences/PreferencesKubernetesConnectionRendering.svelte
Labels: kind/bug 🐞, area/ui, area/extensions 🧩, area/extension/kind 🍾
