Repository podman-desktop/podman-desktop, pull requests merged in 2024-11, with the labels that each got.

#9783 chore: adding uuid property to forward config
  packages/api/src/kubernetes-port-forward-model.ts
  packages/main/src/plugin/kubernetes/kubernetes-port-forward-connection.spec.ts
  packages/main/src/plugin/kubernetes/kubernetes-port-forward-service.spec.ts
  packages/main/src/plugin/kubernetes/kubernetes-port-forward-service.ts
  packages/main/src/plugin/kubernetes/kubernetes-port-forward-storage.spec.ts
  packages/main/src/plugin/kubernetes/kubernetes-port-forward-validation.spec.ts
  packages/preload/src/index.spec.ts
  packages/renderer/src/lib/kube/details/KubePort.spec.ts
  packages/renderer/src/lib/kubernetes-port-forward/PortForwardActions.spec.ts
Labels: area/kubernetes ☸️, kind/technical-debt 🔧

#9908 chore(test): add smoke tag to some tests to run on linux, change how …
  tests/playwright/src/specs/compose-onboarding-smoke.spec.ts
  tests/playwright/src/specs/container-smoke.spec.ts
  tests/playwright/src/specs/extension-installation-smoke.spec.ts
  tests/playwright/src/specs/image-search.spec.ts
  tests/playwright/src/specs/image-smoke.spec.ts
  tests/playwright/src/specs/installation/update-install.spec.ts
  tests/playwright/src/specs/pod-smoke.spec.ts
  tests/playwright/src/specs/podman-extension-smoke.spec.ts
  tests/playwright/src/specs/registry-image.spec.ts
  tests/playwright/src/specs/registry.spec.ts
  tests/playwright/src/specs/volume-smoke.spec.ts
  tests/playwright/src/specs/welcome-page-smoke.spec.ts
  tests/playwright/src/specs/yaml-smoke.spec.ts
Labels: area/update

#10044 refactor(podman-extension): uses api env.isWindows
  extensions/podman/packages/extension/src/extension.spec.ts
  extensions/podman/packages/extension/src/extension.ts
  extensions/podman/packages/extension/src/podman-cli.ts
  extensions/podman/packages/extension/src/podman-configuration.spec.ts
  extensions/podman/packages/extension/src/podman-configuration.ts
  extensions/podman/packages/extension/src/registry-setup.ts
  extensions/podman/packages/extension/src/util.spec.ts
  extensions/podman/packages/extension/src/util.ts
Labels: area/ci

#10032 refactor: replace router goto containers by handle navigation
  packages/api/src/navigation-page.ts
  packages/api/src/navigation-request.ts
  packages/renderer/src/lib/compose/ComposeDetailsSummary.svelte
  packages/renderer/src/lib/container/ContainerColumnNameContainer.svelte
  packages/renderer/src/lib/container/ContainerExport.spec.ts
  packages/renderer/src/lib/container/ContainerExport.svelte
  packages/renderer/src/lib/image/RunImage.svelte
  packages/renderer/src/lib/pod/PodCreateFromContainers.svelte
  packages/renderer/src/lib/pod/PodmanPodDetailsSummary.svelte
  packages/renderer/src/lib/volume/VolumeDetailsSummary.svelte
  packages/renderer/src/navigation.spec.ts
  packages/renderer/src/navigation.ts
Labels: area/ci

#10130 chore: bump vite to v6, vite-svelte plugin to v5 and vitest to v2.1.6
  extensions/compose/package.json
  extensions/docker/package.json
  extensions/kind/package.json
  extensions/kube-context/package.json
  extensions/kubectl-cli/package.json
  extensions/lima/package.json
  extensions/podman/packages/extension/package.json
  extensions/registries/package.json
  package.json
  packages/preload-webview/package.json
  packages/renderer/package.json
  packages/renderer/vite.config.js
  packages/ui/package.json
  pnpm-lock.yaml
  storybook/package.json
  tests/playwright/package.json
  tools/package.json
  website/package.json
Labels: area/ci

#10137 refactor(ui): creating kube actions component
  packages/renderer/src/lib/configmaps-secrets/ConfigMapSecretList.svelte
  packages/renderer/src/lib/deployments/DeploymentsList.svelte
  packages/renderer/src/lib/ingresses-routes/IngressesRoutesList.svelte
  packages/renderer/src/lib/kube/KubeActions.spec.ts
  packages/renderer/src/lib/kube/KubeActions.svelte
  packages/renderer/src/lib/node/NodesList.svelte
  packages/renderer/src/lib/pvc/PVCList.svelte
  packages/renderer/src/lib/service/ServicesList.svelte
Labels: area/ci

#10133 feat: check permissions on resources
  packages/main/src/plugin/kubernetes/context-health-checker.spec.ts
  packages/main/src/plugin/kubernetes/context-health-checker.ts
  packages/main/src/plugin/kubernetes/context-permissions-checker.spec.ts
  packages/main/src/plugin/kubernetes/context-permissions-checker.ts
  packages/main/src/plugin/kubernetes/contexts-dispatcher.spec.ts
  packages/main/src/plugin/kubernetes/contexts-dispatcher.ts
  packages/main/src/plugin/kubernetes/contexts-manager-experimental.spec.ts
  packages/main/src/plugin/kubernetes/contexts-manager-experimental.ts
  packages/main/src/plugin/kubernetes/contexts-states-dispatcher.ts
  packages/main/src/plugin/kubernetes/kubeconfig-single-context.spec.ts
  packages/main/src/plugin/kubernetes/kubeconfig-single-context.ts
Labels: area/ci

#10099 chore(ci): add junit reporter in e2e test workflows
  .github/workflows/e2e-main.yaml
  .github/workflows/pr-check.yaml
Labels: area/ci
