Repository podman-desktop/podman-desktop, pull requests merged in 2025-07, with the labels that each got.

#13057 chore(tray): update existing tray icons
  packages/main/src/assets/tray-icon-emptyDark.png
  packages/main/src/assets/tray-icon-emptyDark.svg
  packages/main/src/assets/tray-icon-emptyTemplate.png
  packages/main/src/assets/tray-icon-emptyTemplate@2x.png
  packages/main/src/assets/tray-icon-errorDark.png
  packages/main/src/assets/tray-icon-errorDark.svg
  packages/main/src/assets/tray-icon-errorTemplate.svg
  packages/main/src/assets/tray-icon-step0Dark.png
  packages/main/src/assets/tray-icon-step0Dark.svg
  packages/main/src/assets/tray-icon-step0Template.png
  packages/main/src/assets/tray-icon-step0Template@2x.png
  packages/main/src/assets/tray-icon-step1Dark.png
  packages/main/src/assets/tray-icon-step1Dark.svg
  packages/main/src/assets/tray-icon-step1Template.png
  packages/main/src/assets/tray-icon-step1Template@2x.png
  packages/main/src/assets/tray-icon-step2Dark.png
  packages/main/src/assets/tray-icon-step2Dark.svg
  packages/main/src/assets/tray-icon-step2Template.png
  packages/main/src/assets/tray-icon-step2Template@2x.png
  packages/main/src/assets/tray-icon-step3Dark.png
  packages/main/src/assets/tray-icon-step3Dark.svg
  packages/main/src/assets/tray-icon-step3Template.png
  packages/main/src/assets/tray-icon-step3Template@2x.png
  packages/main/src/assets/tray-iconDark.png
  packages/main/src/assets/tray-iconTemplate.png
  packages/main/src/assets/tray-iconTemplate@2x.png
  packages/main/src/assets/tray-iconTemplateDark.svg
Labels: area/system-tray 📤

#13093 fix: use correct regexp to set ELECTRON_CACHE env variable
  .github/workflows/publish-flathub.yaml
Labels: kind/bug 🐞, area/flatpak 📦

#12165 chore(workflows): do not enable coverage when not needed
  .github/workflows/codecov-next.yaml
  .github/workflows/pr-check.yaml
  package.json
Labels: area/ci

#13152 revert: 12870
  packages/main/src/plugin/updater.spec.ts
  packages/main/src/plugin/updater.ts
Labels: area/update

#13172 test(podman/extension): add test for the monitoring loop of podman extension
  extensions/podman/packages/extension/src/extension.spec.ts
  extensions/podman/packages/extension/src/extension.ts
Labels: area/ci

#13248 chore(lint): update Map to SvelteMap
  packages/renderer/src/lib/compose/ComposeDetailsLogs.svelte
  packages/renderer/src/lib/container/CreateContainerFromExistingImage.svelte
  packages/renderer/src/lib/dashboard/DashboardPage.svelte
  packages/renderer/src/lib/dialogs/CustomPick.svelte
  packages/renderer/src/lib/image/FilesystemLayerView.svelte
  packages/renderer/src/lib/image/PullImage.svelte
  packages/renderer/src/lib/kube/KubernetesEmptyScreen.svelte
  packages/renderer/src/lib/kube/pods/PodActions.svelte
  packages/renderer/src/lib/kube/pods/PodDetailsLogs.svelte
  packages/renderer/src/lib/pod/PodCreateFromContainers.svelte
  packages/renderer/src/lib/pod/PodDetailsLogs.svelte
  packages/renderer/src/lib/preferences/PreferencesResourcesRendering.svelte
  packages/renderer/src/lib/ui/ProviderResultPage.svelte
Labels: area/ci

#13247 chore(test): include check for correct installer file in update test
  tests/playwright/src/special-specs/installation/update-install.spec.ts
Labels: area/update

#13273 test: speed up some vitest tests
  packages/renderer/src/lib/appearance/Appearance.spec.ts
  packages/renderer/src/lib/appearance/IconImage.spec.ts
  packages/renderer/src/lib/preferences/PreferencesAuthenticationProvidersRendering.spec.ts
  packages/renderer/src/lib/preferences/PreferencesContainerConnectionRendering.spec.ts
  packages/renderer/src/lib/preferences/item-formats/EditableItem.spec.ts
  packages/renderer/src/lib/troubleshooting/TroubleshootingRepairCleanup.spec.ts
  packages/renderer/src/lib/ui/Badge.spec.ts
  packages/renderer/src/lib/volume/VolumesList.spec.ts
Labels: area/ci

#13288 refactor(extensions/podman): notifications are now handled by this class
  extensions/podman/packages/extension/src/extension.ts
  extensions/podman/packages/extension/src/utils/notifications.ts
Labels: area/ci

#13363 feat: expose repository info parser for usage in extensions
  packages/extension-api/src/extension-api.d.ts
  packages/main/src/plugin/extension/extension-loader.ts
Labels: area/ci

#13347 fix(renderer): update extension list to svelte 5
  packages/renderer/src/lib/extensions/ExtensionList.svelte
Labels: area/ci

#13339 chore(ci): enable prereleases in update e2e tests on PR check
  .github/workflows/pr-check.yaml
Labels: area/ci, area/update

#13402 fix(renderer): update SettingsPage and dependent components to Svelte 5
  packages/renderer/src/lib/preferences/PreferencesConnectionActions.svelte
  packages/renderer/src/lib/preferences/PreferencesRegistriesEditing.svelte
  packages/renderer/src/lib/preferences/PreferencesRendering.svelte
  packages/renderer/src/lib/preferences/PreferencesResourcesRendering.svelte
  packages/renderer/src/lib/preferences/SettingsPage.svelte
  packages/renderer/src/lib/preferences/docker-compat/PreferencesDockerCompatibilityRendering.svelte
Labels: area/ci
