Repository podman-desktop/podman-desktop, pull requests merged in 2025-04, with the labels that each got.

#11866 chore: update ErrorMessage component to svelte 5
  packages/ui/src/lib/alert/ErrorMessage.svelte
Labels: area/ci

#11794 chore: enable svelte/require-each-key rule - part 2 - kube and ingresses-routes
  packages/renderer/src/lib/ingresses-routes/IngressRouteColumnBackend.svelte
  packages/renderer/src/lib/ingresses-routes/IngressRouteColumnHostPath.svelte
  packages/renderer/src/lib/kube/KubeDetailsSummary.svelte
  packages/renderer/src/lib/kube/KubernetesEmptyPage.svelte
  packages/renderer/src/lib/kube/details/ConditionsTable.svelte
  packages/renderer/src/lib/kube/details/EventsTable.svelte
  packages/renderer/src/lib/kube/details/KubeConfigMapArtifact.svelte
  packages/renderer/src/lib/kube/details/KubeContainerArtifact.svelte
  packages/renderer/src/lib/kube/details/KubeCronJobStatusArtifact.svelte
  packages/renderer/src/lib/kube/details/KubeDeploymentArtifact.svelte
  packages/renderer/src/lib/kube/details/KubeIngressArtifact.svelte
  packages/renderer/src/lib/kube/details/KubeIngressStatusArtifact.svelte
  packages/renderer/src/lib/kube/details/KubeNodeArtifact.svelte
  packages/renderer/src/lib/kube/details/KubeNodeStatusArtifact.svelte
  packages/renderer/src/lib/kube/details/KubeObjectMetaArtifact.svelte
  packages/renderer/src/lib/kube/details/KubePVCArtifact.svelte
  packages/renderer/src/lib/kube/details/KubePVCStatusArtifact.svelte
  packages/renderer/src/lib/kube/details/KubePodSpecArtifact.svelte
  packages/renderer/src/lib/kube/details/KubePodStatusArtifact.svelte
  packages/renderer/src/lib/kube/details/KubePortsList.svelte
  packages/renderer/src/lib/kube/details/KubeSecretArtifact.svelte
  packages/renderer/src/lib/kube/details/KubeServiceArtifact.svelte
  packages/renderer/src/lib/kube/details/KubeServiceStatusArtifact.svelte
  packages/renderer/src/lib/kube/pods/PodActions.svelte
Labels: area/ci

#11795 chore: enable svelte/require-each-key rule - part 3
  packages/renderer/src/lib/manifest/ManifestDetails.svelte
  packages/renderer/src/lib/onboarding/Onboarding.svelte
  packages/renderer/src/lib/pod/DeployPodToKube.svelte
  packages/renderer/src/lib/pod/PodActions.svelte
  packages/renderer/src/lib/pod/PodCreateFromContainers.svelte
  packages/renderer/src/lib/pod/PodmanPodDetailsSummary.svelte
  packages/renderer/src/lib/preferences/ExperimentalPage.svelte
  packages/renderer/src/lib/preferences/PreferencesAuthenticationProvidersRendering.svelte
  packages/renderer/src/lib/preferences/PreferencesCliToolsRendering.svelte
  packages/renderer/src/lib/preferences/PreferencesConnectionCreationOrEditRendering.svelte
  packages/renderer/src/lib/preferences/PreferencesContainerConnectionDetailsSummary.svelte
  packages/renderer/src/lib/preferences/PreferencesKubernetesConnectionDetailsSummary.svelte
  packages/renderer/src/lib/preferences/PreferencesKubernetesContextsRendering.svelte
  packages/renderer/src/lib/preferences/PreferencesProviderInstallationModal.svelte
  packages/renderer/src/lib/preferences/PreferencesRegistriesEditing.svelte
  packages/renderer/src/lib/preferences/PreferencesRendering.svelte
  packages/renderer/src/lib/preferences/PreferencesResourcesRendering.svelte
  packages/renderer/src/lib/preferences/docker-compat/PreferencesDockerCompatibilityContributions.svelte
  packages/renderer/src/lib/pvc/PVCColumnMode.svelte
  packages/renderer/src/lib/statusbar/ProviderWidget.svelte
  packages/renderer/src/lib/statusbar/Providers.spec.ts
  packages/renderer/src/lib/statusbar/Providers.svelte
  packages/renderer/src/lib/statusbar/StatusBar.svelte
  packages/renderer/src/lib/task-manager/LegacyTaskManagerGroup.svelte
  packages/renderer/src/lib/task-manager/TaskManagerTabs.svelte
  packages/renderer/src/lib/troubleshooting/TroubleshootingContainerEngines.svelte
  packages/renderer/src/lib/troubleshooting/TroubleshootingDevToolsConsoleLogs.svelte
  packages/renderer/src/lib/troubleshooting/TroubleshootingGatherLogs.svelte
  packages/renderer/src/lib/troubleshooting/TroubleshootingPageKubernetes.svelte
  packages/renderer/src/lib/troubleshooting/TroubleshootingPageStoreDetails.svelte
Labels: area/ci

#11840 chore: enable svelte/require-each-key rule - part 5 - image
  packages/renderer/src/lib/image/BuildImageFromContainerfile.svelte
  packages/renderer/src/lib/image/BuildImageFromContainerfileCard.svelte
  packages/renderer/src/lib/image/BuildImageFromContainerfileCards.svelte
  packages/renderer/src/lib/image/FilesystemLayerView.svelte
  packages/renderer/src/lib/image/ImageColumnName.svelte
  packages/renderer/src/lib/image/ImageDetails.svelte
  packages/renderer/src/lib/image/ImageDetailsFilesLayers.svelte
  packages/renderer/src/lib/image/ImageDetailsSummary.svelte
  packages/renderer/src/lib/image/ImportContainersImages.svelte
  packages/renderer/src/lib/image/LoadImages.svelte
  packages/renderer/src/lib/image/PushImageModal.svelte
  packages/renderer/src/lib/image/RecommendedRegistry.svelte
  packages/renderer/src/lib/image/RunImage.svelte
  packages/renderer/src/lib/image/SaveImages.spec.ts
  packages/renderer/src/lib/image/SaveImages.svelte
Labels: area/ci

#12077 fix(ui): race condition in ImageDetailsCheck tests
  packages/renderer/src/lib/image/ImageDetailsCheck.spec.ts
  packages/renderer/src/lib/image/ImageDetailsCheck.svelte
Labels: area/ui, area/ci

#12104 refactor(packages): simplify vitest config
  packages/api/vite.config.js
  packages/extension-api/vite.config.js
  packages/main/vite.config.js
  packages/preload-docker-extension/vite.config.js
  packages/preload-webview/vite.config.js
  packages/preload/vite.config.js
  packages/renderer/vite.config.js
  packages/ui/vite.config.js
  packages/webview-api/vite.config.js
Labels: area/ci

#12110 chore(vitest): remove unused files
  vitest-shared-extensions.config.js
  vitest.config.js
  website/vitest.config.js
Labels: area/ci

#12079 refactor(Button): migrate to svelte5
  packages/ui/src/lib/button/Button.svelte
Labels: area/ci, area/ui-components

#12111 feat(vitest): configure workspace
  package.json
  vitest.config.js
Labels: area/ci

#12112 chore: improve provider widget icons
  packages/renderer/src/lib/statusbar/ProviderButton.spec.ts
  packages/renderer/src/lib/statusbar/ProviderButton.svelte
  packages/renderer/src/lib/statusbar/ProviderButtonStatus.svelte
  packages/renderer/src/lib/statusbar/ProviderWidgetStatus.spec.ts
  packages/renderer/src/lib/statusbar/ProviderWidgetStatus.svelte
  packages/renderer/src/lib/statusbar/status-icons/arrow-up.svg
Labels: area/ci

#12249 chore(website): added highlited label
  website/src/pages/index.tsx
Labels: area/ci

#12360 fix(electron-v36): gtk-version on linux
  packages/main/src/main.spec.ts
  packages/main/src/main.ts
Labels: qe/testing-required
