Repository podman-desktop/podman-desktop, pull requests merged in 2025-03, with the labels that each got.

#11340 chore(electron): enable web security
  packages/main/src/mainWindow.ts
Labels: area/ci, area/update, area/electron

#11359 fix: proper validation of input fields
  packages/renderer/src/lib/image/RenameImageModal.spec.ts
  packages/renderer/src/lib/image/RenameImageModal.svelte
Labels: kind/bug 🐞, area/ui, qe/regression

#11603 chore(deps-dev): bump electron from 34.3.0 to 35.0.1 and to Node.js v22
  .electron-vendors.cache.json
  .github/workflows/daily-testing-build.yaml
  .github/workflows/e2e-kubernetes-main.yaml
  .github/workflows/e2e-main.yaml
  .github/workflows/next-build.yaml
  .github/workflows/pr-check.yaml
  .github/workflows/release-notes.yaml
  .github/workflows/release.yaml
  .nvmrc
  CONTRIBUTING.md
  package.json
  packages/preload-webview/package.json
  pnpm-lock.yaml
  tests/playwright/package.json
Labels: qe/testing-required

#11607 chore: fix svelte/infinite-reactive-loop
  eslint.config.mjs
  packages/renderer/src/lib/image/PushImageModal.svelte
  packages/renderer/src/lib/preferences/PreferencesContainerConnectionDetailsSummary.svelte
  packages/renderer/src/lib/preferences/PreferencesKubernetesConnectionDetailsSummary.svelte
  packages/renderer/src/lib/preferences/PreferencesResourcesRendering.svelte
Labels: area/ci

#11599 chore: remove any usage
  packages/api/src/container-info.ts
  packages/extension-api/src/extension-api.d.ts
  packages/main/src/plugin/container-registry.spec.ts
  packages/main/src/plugin/container-registry.ts
  packages/renderer/src/lib/compose/ComposeDetails.spec.ts
  packages/renderer/src/lib/image/RunImage.svelte
  packages/renderer/src/lib/pod/PodCreateFromContainers.spec.ts
Labels: area/ci

#11827 feat: create vm provider connection (backend)
  packages/main/src/plugin/index.spec.ts
  packages/main/src/plugin/index.ts
  packages/main/src/plugin/provider-registry.spec.ts
  packages/main/src/plugin/provider-registry.ts
  packages/preload/src/index.spec.ts
  packages/preload/src/index.ts
Labels: area/ci

#11837 chore(configuration-impl): remove usage of any
  packages/main/src/plugin/configuration-impl.spec.ts
  packages/main/src/plugin/configuration-impl.ts
Labels: area/ci

#11654 fix: grant access to the containers directory for the flatpak build
  .electron-builder.config.cjs
Labels: kind/bug 🐞, area/flatpak 📦, area/proxy

#11693 refactor(Dropdown): enforce string key
  packages/renderer/src/lib/forms/ContainerConnectionDropdown.spec.ts
  packages/ui/src/lib/dropdown/Dropdown.svelte
Labels: area/ci
