Repository podman-desktop/podman-desktop, pull requests merged in 2025-02, with the labels that each got.

#10888 chore: postinstall should only install chromium
  package.json
Labels: area/ci, area/update

#10945 fix(preload-index): remove no-explicit-any
  packages/preload/src/index.ts
Labels: area/ci

#10996 chore: add a compare function prop for resultItems sorting in Typeahead
  packages/renderer/src/lib/ui/Typeahead.spec.ts
  packages/renderer/src/lib/ui/Typeahead.svelte
Labels: area/ci

#10983 chore: remove @typescript-eslint/no-explicit-any usage from image
  packages/renderer/src/lib/image/ActionsMenu.spec.ts
  packages/renderer/src/lib/image/BuildImageFromContainerfile.spec.ts
  packages/renderer/src/lib/image/BuildImageFromContainerfileCard.spec.ts
  packages/renderer/src/lib/image/BuildImageFromContainerfileCard.svelte
  packages/renderer/src/lib/image/BuildImageFromContainerfileCards.spec.ts
  packages/renderer/src/lib/image/BuildImageFromContainerfileCards.svelte
  packages/renderer/src/lib/image/ImagesList.spec.ts
Labels: area/ci

#10959 chore: update release notes banner to not show for first time users of PD
  packages/renderer/src/lib/dashboard/ReleaseNotesBox.spec.ts
  packages/renderer/src/lib/dashboard/ReleaseNotesBox.svelte
  packages/renderer/src/lib/welcome/WelcomePage.spec.ts
  packages/renderer/src/lib/welcome/WelcomePage.svelte
Labels: area/ci

#10701 fix: respect appearance theme during render GitHub icon
  extensions/registries/src/extension.spec.ts
  extensions/registries/src/extension.ts
  extensions/registries/src/images/ghcr.io-dark.png
  extensions/registries/src/images/ghcr.io-light.png
  extensions/registries/src/images/ghcr.io.png
  packages/extension-api/src/extension-api.d.ts
  packages/renderer/src/lib/preferences/PreferencesRegistriesEditing.svelte
Labels: kind/bug 🐞, area/ui, area/ui-components, UX/UI Issue

#11092 chore: update podman to v5.4.0
  extensions/podman/packages/extension/src/podman5.json
Labels: area/ci

#11038 chore: remove @typescript-eslint/no-explicit-any usage in markdown
  packages/renderer/src/lib/markdown/Markdown.svelte
  packages/renderer/src/lib/markdown/micromark-listener-handler.ts
Labels: area/ci

#11136 fix: libkrun is only supported on silicon/M* macs
  extensions/podman/packages/extension/src/extension.spec.ts
  extensions/podman/packages/extension/src/extension.ts
Labels: qe/testing-required

#11150 chore: ignore expired certificate for CI test when installing podman 5
  .github/workflows/pr-check.yaml
Labels: area/ci

#10573 chore: update typeahead to support headings
  packages/renderer/src/lib/image/PullImage.svelte
  packages/renderer/src/lib/ui/Typeahead.spec.ts
  packages/renderer/src/lib/ui/Typeahead.svelte
  packages/renderer/src/lib/ui/Typeahead.ts
Labels: area/ci

#10980 feat: ask to install kind when creating cluster
  extensions/kind/src/extension.spec.ts
  extensions/kind/src/extension.ts
  extensions/kind/src/kind-installer.spec.ts
  extensions/kind/src/kind-installer.ts
Labels: area/ci

#11238 fix: update missed pd version in mac update e2e
  .github/workflows/e2e-main.yaml
Labels: area/update

#11218 refactor(podman): grouping `*-helper` files
  extensions/podman/packages/extension/src/extension.spec.ts
  extensions/podman/packages/extension/src/extension.ts
  extensions/podman/packages/extension/src/helpers/krunkit-helper.spec.ts
  extensions/podman/packages/extension/src/helpers/krunkit-helper.ts
  extensions/podman/packages/extension/src/helpers/podman-binary-location-helper.spec.ts
  extensions/podman/packages/extension/src/helpers/podman-binary-location-helper.ts
  extensions/podman/packages/extension/src/helpers/podman-info-helper.spec.ts
  extensions/podman/packages/extension/src/helpers/podman-info-helper.ts
  extensions/podman/packages/extension/src/helpers/qemu-helper.spec.ts
  extensions/podman/packages/extension/src/helpers/qemu-helper.ts
  extensions/podman/packages/extension/src/helpers/wsl-helper.spec.ts
  extensions/podman/packages/extension/src/helpers/wsl-helper.ts
  extensions/podman/packages/extension/src/podman-install.ts
Labels: area/ci

#11179 chore: ensure the update of machine / listing podman machines is sequential
  extensions/podman/packages/extension/src/extension.spec.ts
  extensions/podman/packages/extension/src/extension.ts
Labels: qe/testing-required

#11310 chore: updated wsl check version message
  extensions/podman/packages/extension/src/podman-install.spec.ts
  extensions/podman/packages/extension/src/podman-install.ts
Labels: area/ci

#10717 feat: update create container workflow
  packages/api/src/navigation-page.ts
  packages/api/src/navigation-request.ts
  packages/renderer/src/App.svelte
  packages/renderer/src/lib/container/ContainerList.svelte
  packages/renderer/src/lib/container/CreateContainerFromExistingImage.spec.ts
  packages/renderer/src/lib/container/CreateContainerFromExistingImage.svelte
  packages/renderer/src/navigation.ts
Labels: area/ci, qe/review

#11362 chore(test): wait for update dialog to switch instead of closing in e2e
  tests/playwright/src/special-specs/installation/update-install.spec.ts
Labels: area/update

#10950 refactor(dropdown): create container connections dropdown component
  packages/renderer/src/lib/forms/ContainerConnectionDropdown.spec.ts
  packages/renderer/src/lib/forms/ContainerConnectionDropdown.svelte
  packages/renderer/src/lib/forms/ContainerConnectionDropdownTest.spec.ts
  packages/renderer/src/lib/forms/ContainerConnectionDropdownTest.svelte
  packages/renderer/src/lib/image/BuildImageFromContainerfile.svelte
  packages/renderer/src/lib/image/ImportContainersImages.svelte
  packages/renderer/src/lib/image/LoadImages.svelte
  packages/renderer/src/lib/image/PullImage.spec.ts
  packages/renderer/src/lib/image/PullImage.svelte
  packages/renderer/src/lib/kube/KubePlayYAML.svelte
  packages/renderer/src/lib/pod/PodCreateFromContainers.svelte
Labels: area/ci
