Repository podman-desktop/podman-desktop, pull requests merged in 2025-08, with the labels that each got.

#13224 refactor: centralized tasks statusbar
  packages/main/src/plugin/tasks/task-manager.spec.ts
  packages/main/src/plugin/tasks/task-manager.ts
  packages/renderer/src/lib/statusbar/StatusBar.spec.ts
  packages/renderer/src/lib/statusbar/StatusBar.svelte
Labels: area/ci

#13226 refactor: centralized statusbar providers
  packages/main/src/plugin/statusbar/statusbar-providers-init.spec.ts
  packages/main/src/plugin/statusbar/statusbar-providers-init.ts
Labels: area/ci

#13225 refactor: centralized kubernetes experimental
  packages/main/src/plugin/kubernetes/kubernetes-client.ts
  packages/renderer/src/lib/kube/NamespaceDropdown.svelte
  packages/renderer/src/lib/kube/active-resources-count-listen.spec.ts
  packages/renderer/src/lib/kube/active-resources-count-listen.ts
  packages/renderer/src/lib/kube/resource-permission.spec.ts
  packages/renderer/src/lib/kube/resource-permission.ts
  packages/renderer/src/lib/kube/resources-listen.spec.ts
  packages/renderer/src/lib/kube/resources-listen.ts
  packages/renderer/src/lib/preferences/PreferencesKubernetesContextsRendering.spec.ts
  packages/renderer/src/lib/preferences/PreferencesKubernetesContextsRendering.svelte
  packages/renderer/src/stores/kubernetes-context-health-experimental.spec.ts
  packages/renderer/src/stores/kubernetes-context-health-non-experimental.spec.ts
  packages/renderer/src/stores/kubernetes-context-health.ts
  packages/renderer/src/stores/kubernetes-context-permission-experimental.spec.ts
  packages/renderer/src/stores/kubernetes-context-permission-non-experimental.spec.ts
  packages/renderer/src/stores/kubernetes-context-permission.ts
  packages/renderer/src/stores/kubernetes-experimental.spec.ts
  packages/renderer/src/stores/kubernetes-experimental.ts
  packages/renderer/src/stores/kubernetes-resources-count-experimental.spec.ts
  packages/renderer/src/stores/kubernetes-resources-count-non-experimental.spec.ts
  packages/renderer/src/stores/kubernetes-resources-count.ts
Labels: area/ci

#13471 fix(windows): updated text for matching errors
  extensions/podman/packages/extension/src/checks/wsl2-check.spec.ts
  extensions/podman/packages/extension/src/checks/wsl2-check.ts
Labels: qe/testing-required

#13551 docs: corrected the heading title
  website/docs/ai-lab/create-playground.md
Labels: area/documentation 📖

#13533 feat: added support for images in markdown component
  packages/renderer/src/lib/markdown/Markdown.spec.ts
  packages/renderer/src/lib/markdown/Markdown.svelte
  packages/renderer/src/lib/markdown/micromark-image-directive.ts
Labels: area/ui

#13557 fix(ContainerList): sort environment column based on engineName
  packages/renderer/src/lib/container/ContainerList.svelte
Labels: area/ui

#13562 chore: adds kubernetes image to experimental feature
  packages/main/src/assets/kubernetes.statesExperimental.webp
  packages/main/src/plugin/kubernetes/kubernetes-client.ts
Labels: area/ci

#13567 chore: adds tasks statusbar image to experimental feature
  packages/main/src/assets/tasks.StatusBar.webp
  packages/main/src/plugin/tasks/task-manager.spec.ts
  packages/main/src/plugin/tasks/task-manager.ts
Labels: area/ci

#13565 chore: adds statusbar providers image to experimental feature
  packages/main/src/assets/statusbarProviders.showProviders.webp
  packages/main/src/plugin/statusbar/statusbar-providers-init.ts
Labels: area/ci

#13563 chore: adds tasks manager image to experimental feature
  packages/main/src/assets/tasks.Manager.webp
  packages/main/src/plugin/tasks/task-manager.spec.ts
  packages/main/src/plugin/tasks/task-manager.ts
Labels: area/ci

#13448 chore(ci): dynamically decrease podman-desktop version before update e2e test
  .github/workflows/e2e-main.yaml
  .github/workflows/pr-check.yaml
  eslint.config.mjs
  tests/playwright/scripts/version-util.cjs
  tests/playwright/src/special-specs/installation/update-install.spec.ts
  tests/playwright/tsconfig.json
Labels: area/update

#13439 chore(ci): expand running e2e tests to windows arm
  .github/workflows/e2e-main.yaml
  .github/workflows/pr-check.yaml
Labels: area/update

#13355 chore: update toast notification style
  packages/renderer/src/lib/toast/ToastCustomUi.spec.ts
  packages/renderer/src/lib/toast/ToastCustomUi.svelte
  packages/renderer/src/lib/toast/ToastHandler.svelte
Labels: UX/UI Issue

#13598 feat(website): add Storybook link to the Extend page
  website/src/pages/extend/index.tsx
Labels: area/website

#13609 chore: Have file items by default be editable.
  packages/renderer/src/lib/preferences/PreferencesRenderingItemFormat.spec.ts
  packages/renderer/src/lib/preferences/item-formats/FileItem.spec.ts
  packages/renderer/src/lib/preferences/item-formats/FileItem.svelte
Labels: area/ui

#13606 chore: fix saving inputs in preferences
  packages/renderer/src/lib/preferences/item-formats/StringItem.spec.ts
  packages/renderer/src/lib/preferences/item-formats/StringItem.svelte
Labels: area/ui

#13391 feat(renderer): update ContainerList to Svelte 5
  packages/renderer/src/lib/container/ContainerList.svelte
Labels: area/ui, area/ci

#13712 fix(renderer): copy object to avoid error when opening Files tab of an Image
  packages/renderer/src/lib/image/ImageDetailsFiles.svelte
Labels: area/ui

#13706 fix(renderer): update LoadImages and RecommendedRegistry to svelte 5
  packages/renderer/src/lib/image/LoadImages.svelte
  packages/renderer/src/lib/image/RecommendedRegistry.svelte
Labels: area/ui, area/ci

#13714 fix(renderer): update PullImage to svelte 5
  packages/renderer/src/lib/image/PullImage.svelte
Labels: area/ui, area/ci

#13676 chore: updated scrolling through carousel component
  packages/ui/src/lib/carousel/Carousel.spec.ts
  packages/ui/src/lib/carousel/Carousel.svelte
Labels: area/ui

#13722 fix(renderer): update SaveImages to svelte 5
  packages/renderer/src/lib/image/SaveImages.svelte
Labels: area/ui

#13692 docs: added a blogpost highlighting Podman Desktop availability on RH…
  website/blog/2025-08-25-podman-desktop-availability-on-rhel10.md
  website/blog/img/podman-desktop-availability-on-rhel10/podman-desktop-availability-on-rhel-10.png
  website/docs/installation/linux-install/install-on-rhel10.md
Labels: area/website
