Repository podman-desktop/podman-desktop, pull requests merged in 2025-05, with the labels that each got.

#12353 fix(electron-updater): disable differential download
  packages/main/src/plugin/updater.spec.ts
  packages/main/src/plugin/updater.ts
Labels: area/ci, area/update, qe/testing-required

#12331 chore: do not run podman mac helper checks, or socket checks unless ready
  extensions/podman/packages/extension/src/extension.spec.ts
  extensions/podman/packages/extension/src/extension.ts
Labels: qe/testing-required

#12418 fix: new DMG background
  .electron-builder.config.cjs
  buildResources/dmg-background@2x.png
Labels: kind/enhancement ✨, area/ui, area/install 🎁, os/macOS 🍎, qe/testing-required

#12466 chore: added footer markdown description to message box options
  packages/main/src/plugin/message-box.ts
Labels: area/ci

#12411 fix: display VM status
  packages/renderer/src/lib/preferences/PreferencesResourcesRendering.spec.ts
  packages/renderer/src/lib/preferences/PreferencesResourcesRendering.svelte
Labels: area/ci

#12276 chore: add more features section to the website
  website/src/pages/index.tsx
Labels: area/ci

#12408 chore: update podman to v5.5 🚧
  extensions/podman/packages/extension/src/podman5.json
Labels: area/ci, qe/testing-required

#12602 docs(website): release note 1.19
  website/blog/2025-05-22-release-1.19.md
  website/blog/img/podman-desktop-release-1.19/extension-ai-lab-llama-stack-dark.png
  website/blog/img/podman-desktop-release-1.19/extension-ai-lab-llama-stack-light.png
  website/blog/img/podman-desktop-release-1.19/extension-ai-lab-mcp-dark.png
  website/blog/img/podman-desktop-release-1.19/extension-ai-lab-mcp-light.png
  website/blog/img/podman-desktop-release-1.19/extension-ai-lab-openvino-dark.png
  website/blog/img/podman-desktop-release-1.19/extension-ai-lab-openvino-light.png
  website/blog/img/podman-desktop-release-1.19/extension-bootc-create-vm-dark.png
  website/blog/img/podman-desktop-release-1.19/extension-bootc-create-vm-light.png
  website/blog/img/podman-desktop-release-1.19/extension-bootc-examples-dark.png
  website/blog/img/podman-desktop-release-1.19/extension-bootc-examples-light.png
  website/blog/img/podman-desktop-release-1.19/extension-lightspeed-dark.png
  website/blog/img/podman-desktop-release-1.19/extension-lightspeed-light.png
  website/blog/img/podman-desktop-release-1.19/extension-rhel-vm-create-dark.png
  website/blog/img/podman-desktop-release-1.19/extension-rhel-vm-create-light.png
  website/static/img/blog/podman-desktop-release-1.19/banner.png
Labels: area/ci

#12261 fix: make image build cancellable
  packages/api/src/navigation-request.ts
  packages/main/src/plugin/index.ts
  packages/main/src/plugin/navigation/navigation-manager.spec.ts
  packages/main/src/plugin/navigation/navigation-manager.ts
  packages/preload/src/index.ts
  packages/renderer/src/App.svelte
  packages/renderer/src/lib/image/BuildImageFromContainerfile.spec.ts
  packages/renderer/src/lib/image/BuildImageFromContainerfile.svelte
  packages/renderer/src/lib/image/BuildImageFromContainerfileCard.svelte
  packages/renderer/src/lib/image/BuildImageFromContainerfileCards.svelte
  packages/renderer/src/lib/image/build-image-task.spec.ts
  packages/renderer/src/lib/image/build-image-task.ts
  packages/renderer/src/navigation.spec.ts
  packages/renderer/src/navigation.ts
  packages/renderer/src/stores/build-images.ts
Labels: qe/testing-required

#12662 chore: update social networks links
  README.md
  website/src/pages/community/index.tsx
Labels: kind/enhancement ✨, area/website 🌐
