Repository podman-desktop/podman-desktop, pull requests merged in 2025-09, with the labels that each got.

#13799 fix: avoid propagating event of PasswordInput component for show/hide
  packages/renderer/src/lib/ui/PasswordInput.spec.ts
  packages/renderer/src/lib/ui/PasswordInput.svelte
  packages/renderer/src/lib/ui/PasswordInputTest.svelte
Labels: area/ui

#13801 feat: allow to declare properties using password formatting
  packages/renderer/src/lib/preferences/PreferencesRenderingItemFormat.spec.ts
  packages/renderer/src/lib/preferences/PreferencesRenderingItemFormat.svelte
  packages/renderer/src/lib/preferences/item-formats/PasswordStringItem.spec.ts
  packages/renderer/src/lib/preferences/item-formats/PasswordStringItem.svelte
Labels: area/ui

#13831 feat: use min-h-screen for downloads page layout
  website/src/pages/downloads/linux.tsx
  website/src/pages/downloads/macos.tsx
  website/src/pages/downloads/windows.tsx
Labels: area/website

#13837 chore(typedoc): bump latest
  pnpm-lock.yaml
  website/docusaurus.config.js
  website/package.json
Labels: area/website

#13846 chore(deps): remove pnpm#overrides for `vitest>vite`
  package.json
  pnpm-lock.yaml
Labels: area/ci

#13848 refactor: mv terminal-theme(.spec).ts files to renderer
  packages/renderer/src/lib/container/ContainerDetailsTerminal.svelte
  packages/renderer/src/lib/dashboard/ProviderConfiguring.svelte
  packages/renderer/src/lib/dashboard/ProviderInstalled.svelte
  packages/renderer/src/lib/kube/pods/terminal/KubernetesTerminal.svelte
  packages/renderer/src/lib/preferences/PreferencesConnectionDetailsLogs.svelte
  packages/renderer/src/lib/preferences/PreferencesConnectionDetailsTerminal.svelte
  packages/renderer/src/lib/terminal/terminal-theme.spec.ts
  packages/renderer/src/lib/terminal/terminal-theme.ts
  packages/renderer/src/lib/ui/TerminalWindow.svelte
Labels: area/ui

#13918 docs: add blog post about new apple container extension
  website/blog/2025-09-15-new-apple-container-extension.md
  website/blog/img/apple-container-extension/list-containers.png
  website/blog/img/apple-container-extension/list-images.png
  website/blog/img/apple-container-extension/view-logs.png
  website/static/img/blog/apple-container-extension/apple-container-extension.png
Labels: area/website

#13945 fix(website): replace expired linkedin image with gravatar
  website/src/pages/index.tsx
Labels: area/website

#13925 docs: added a note for clarification in the adding certificates section
  website/docs/podman/adding-certificates-to-a-podman-machine.md
Labels: area/website

#13962 fix(typography): correct incorrect use of question marks
  .github/ISSUE_TEMPLATE/bug_report.yml
  packages/main/src/plugin/index.spec.ts
  packages/main/src/plugin/index.ts
  packages/renderer/src/lib/extensions/InstallManuallyExtensionModal.svelte
  packages/renderer/src/lib/featured/FeaturedExtensionDownload.svelte
  packages/renderer/src/lib/troubleshooting/TroubleshootingRepairCleanup.spec.ts
  packages/renderer/src/lib/troubleshooting/TroubleshootingRepairCleanup.svelte
  website/blog/2025-05-21-podman-ai-lab-openvino.md
Labels: area/ui, area/website

#13951 chore(test): add podman installer assets e2e tests
  tests/playwright/src/special-specs/installation/podman-install.spec.ts
Labels: area/update

#13965 refactor(renderer): migrate PasswordInput to Svelte5
  packages/renderer/src/lib/preferences/PreferencesRenderingItemFormat.spec.ts
  packages/renderer/src/lib/preferences/item-formats/PasswordStringItem.spec.ts
  packages/renderer/src/lib/preferences/item-formats/PasswordStringItem.svelte
  packages/renderer/src/lib/ui/PasswordInput.spec.ts
  packages/renderer/src/lib/ui/PasswordInput.svelte
Labels: area/ui, area/ci

#13873 chore: add 3m downloads banner to the website
  website/src/components/3MBanner.tsx
  website/src/pages/index.tsx
  website/tailwind.config.js
Labels: area/website

#13979 fix: wrong behaviour expanding preferences menu from expander icon
  packages/ui/src/lib/settingsNavItem/SettingsNavItem.svelte
Labels: area/ui

#13903 chore(package.json): update typecheck:renderer script
  .github/workflows/pr-check.yaml
  package.json
  packages/ui/src/lib/button/ButtonSvelte4Test.spec.ts
  packages/ui/src/lib/table/Table.spec.ts
Labels: area/ui

#14027 docs: use unambiguous name for Apple silicon in GPU docs
  website/docs/podman/gpu.md
  website/docs/troubleshooting/troubleshooting-podman-on-macos.md
Labels: area/website

#13789 fix: always use certs for fetch/http(s) to work w/ transparent proxy
  packages/main/src/plugin/proxy-resolver.spec.ts
  packages/main/src/plugin/proxy-resolver.ts
  packages/main/src/plugin/proxy.ts
Labels: area/website

#13958 fix(windows): fixed minimizing the app during startup
  packages/main/src/system/windows-startup.spec.ts
  packages/main/src/system/windows-startup.ts
Labels: area/ci

#13776 feat: add explore features section in the Dashboard page
  packages/api/src/explore-feature.ts
  packages/main/src/assets/explore-features-images/explore-kubernetes.png
  packages/main/src/assets/explore-features-images/install-extensions.png
  packages/main/src/assets/explore-features-images/manage-docker.png
  packages/main/src/assets/explore-features-images/start-a-container.png
  packages/main/src/plugin/explore-features/explore-features.json
  packages/main/src/plugin/explore-features/explore-features.spec.ts
  packages/main/src/plugin/explore-features/explore-features.ts
  packages/main/src/plugin/index.spec.ts
  packages/main/src/plugin/index.ts
  packages/main/src/plugin/updater.spec.ts
  packages/preload/src/index.ts
  packages/renderer/src/lib/dashboard/DashboardPage.svelte
  packages/renderer/src/lib/explore-features/ExploreFeatureCard.spec.ts
  packages/renderer/src/lib/explore-features/ExploreFeatureCard.svelte
  packages/renderer/src/lib/explore-features/ExploreFeatures.spec.ts
  packages/renderer/src/lib/explore-features/ExploreFeatures.svelte
Labels: area/ui, area/ci, UX/UI Issue
