Repository podman-desktop/podman-desktop, pull requests merged in 2025-10, with the labels that each got.

#14161 chore(search-bar): reverted commit bfb30c6
  packages/renderer/src/lib/dialogs/CommandPalette.spec.ts
  packages/renderer/src/lib/dialogs/CommandPalette.svelte
Labels: area/ui

#14073 feat(docs): added generating tutorial and docs json files
  website/.gitignore
  website/docusaurus.config.js
  website/sidebar-content-parser.spec.ts
  website/sidebar-content-parser.ts
Labels: area/ci, area/website

#14124 chore(website): github stars dark mode
  website/src/components/GitHubStarsButton.tsx
Labels: area/website

#14227 feat: add navigate to provider new connection to API
  packages/api/src/navigation-page.ts
  packages/api/src/navigation-request.ts
  packages/extension-api/src/extension-api.d.ts
  packages/main/src/plugin/extension/extension-loader.ts
  packages/main/src/plugin/navigation/navigation-manager.spec.ts
  packages/main/src/plugin/navigation/navigation-manager.ts
  packages/renderer/src/navigation.spec.ts
  packages/renderer/src/navigation.ts
Labels: area/ui

#14236 chore: use mockResolvedValue / mockReturn in some tests
  extensions/compose/src/compose-github-releases.spec.ts
  extensions/kind/src/kind-installer.spec.ts
  extensions/kubectl-cli/src/kubectl-github-releases.spec.ts
  extensions/podman/packages/extension/src/utils/notifications.spec.ts
  packages/renderer/src/lib/image/ImageDetailsCheck.spec.ts
  packages/renderer/src/stores/kubernetes-experimental.spec.ts
Labels: area/ui

#14240 revert: use mockResolvedValue / mockReturn in some tests
  extensions/compose/src/compose-github-releases.spec.ts
  extensions/kind/src/kind-installer.spec.ts
  extensions/kubectl-cli/src/kubectl-github-releases.spec.ts
  extensions/podman/packages/extension/src/utils/notifications.spec.ts
  packages/renderer/src/lib/image/ImageDetailsCheck.spec.ts
  packages/renderer/src/stores/kubernetes-experimental.spec.ts
Labels: area/ui

#14241 refactor: use mockResolvedValue / mockReturn in some tests
  extensions/compose/src/compose-github-releases.spec.ts
  extensions/kind/src/kind-installer.spec.ts
  extensions/kubectl-cli/src/kubectl-github-releases.spec.ts
  extensions/podman/packages/extension/src/utils/notifications.spec.ts
  packages/renderer/src/lib/image/ImageDetailsCheck.spec.ts
  packages/renderer/src/stores/kubernetes-experimental.spec.ts
Labels: area/ui

#13769 chore: added support for layout manager component
  packages/ui/src/lib/index.ts
  packages/ui/src/lib/table/Table.spec.ts
  packages/ui/src/lib/table/Table.svelte
  packages/ui/src/lib/table/table-persistence-store.svelte.spec.ts
  packages/ui/src/lib/table/table-persistence-store.svelte.ts
  packages/ui/src/lib/table/table.ts
Labels: area/ui, area/ci

#14194 feat(imageList): Show the architecture of the images in the image list
  packages/api/src/image-info.ts
  packages/renderer/src/lib/image/ImageColumnActions.spec.ts
  packages/renderer/src/lib/image/ImageColumnEnvironment.spec.ts
  packages/renderer/src/lib/image/ImageColumnName.spec.ts
  packages/renderer/src/lib/image/ImageColumnStatus.spec.ts
  packages/renderer/src/lib/image/ImageDetailsSummary.spec.ts
  packages/renderer/src/lib/image/ImageInfoUI.ts
  packages/renderer/src/lib/image/ImagesList.svelte
  packages/renderer/src/lib/image/PushImageModal.spec.ts
  packages/renderer/src/lib/image/PushManifestModal.spec.ts
  packages/renderer/src/lib/image/RenameImageModal.spec.ts
  packages/renderer/src/lib/image/RunImage.spec.ts
  packages/renderer/src/lib/image/image-utils.ts
Labels: area/ui, area/ci

#14325 fix: volume route
  packages/api/src/navigation-request.ts
  packages/main/src/plugin/extension/extension-loader.spec.ts
  packages/main/src/plugin/navigation/navigation-manager.ts
  packages/renderer/src/navigation.spec.ts
  packages/renderer/src/navigation.ts
Labels: area/ui

#14322 chore: updated navigation routes
  packages/api/src/navigation-page.ts
  packages/api/src/navigation-request.ts
  packages/renderer/src/navigation.spec.ts
  packages/renderer/src/navigation.ts
Labels: area/ui
